server {
  listen 80;

  root /var/www/oscaraguilardev/html;
  index index.html;

  server_name oscaraguilardev.com www.oscaraguilardev.com;
  
  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}
